.THIS .LeftScreen {
    background-color:#ffffff !important;
    padding:1em;
    border: solid 1px #000000;
    border-color: #d7d7d7;
    border-radius:4px;
    width:100%;
}

.THIS .KPPbutton  svg{
    color:#ffffff;
}

.THIS .HideMsgChannel {
    display:none !important;
    
}